body {
  box-sizing: border-box;
  margin: 0;
  max-width: 1440px;
  padding: 0;
  width: 100%
}

.top-container {
  background-color: #E5F3F2;
  padding: 25px 0 25px 0;
  width: 100%;
}

.input-container {
  margin: auto;
  width: 50%;
}

.title {
  text-align: center;
}

.title-idea {
  font-size: 32px;
  color: #00A79D;
}

.title-box {
  color: #6D6E71;
}

.input {
  border: 2px solid #939598;
  font-size: 1.5em;
  height: 30px;
  margin-bottom: 20px;
  /*padding-left: .5rem;*/
  width: 99.5%;
}

.input::placeholder {
  color: #939598;

}

.title-input {

}

.body-input {

}

.submit {

}

.submit-button {
  background: #00A79D;
  color: #FFFFFF;
  font-size: 1.7em;
  height: 35px;
  margin-bottom: 25px;
  width: 100%;
}

.submit-button:hover {
  background-color: #045E55;
  cursor: pointer;
}

.bottom-container {
  height: 100vh;
  width: 100%;
}

.search-container {
  margin: auto;
  width: 50%;
}

.search-input {
  margin:20px 0 0 0;
}

.cards-container {
  background-color: #FFFFFF;
  height: 100%;
  margin:0 auto;
  width: 50%;
}

.new-idea {
  border-bottom: 1px solid #D1D3D4;
  margin-top: 2rem;
}

.idea-head {
  align-items: center;
  color: #6D6E71;
  display: flex;
  font-family: 'Roboto Slab', serif;
  flex-direction: row;
  font-size: 1.5rem;
  justify-content: space-between;
  margin-bottom: .8rem;
}

.idea-title {
  margin: 0;
}

.idea-body {
  color: #939598;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  height: 7vh;
  margin: .5rem 0;
  overflow: scroll;
}

.idea-foot {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-bottom: .5rem;
}

li {
  border-bottom: 1px solid #D1D3D4;
  list-style-type: none;
}

.idea-card {
  margin: 0 auto;
  padding: 0;
}

.buttons {
  width: 2.5vw;
}

.delete-button:hover {
  content:url(images/delete-hover.svg);
}

.up-vote:hover {
  content:url(images/upvote-hover.svg);
}

.down-vote {
  padding-left: 1rem;
  padding-right: 1rem;
}

.down-vote:hover {
  content:url(images/downvote-hover.svg);
}

.quality-judgment {
  color: #6D6E71;
  padding-left: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.quality-title {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

